<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC with Vanilla.JS</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <header>
      <h2 class="container">검색</h2>
    </header>

    <div class="container">
      <!-- vuejs 디렉티브 v-on:event="customEvent" prevent는 preventDefault()를 대체, ps 약어 @eventname-->
      <form v-on:submit.prevent="onSubmit">
        <!-- vuejs 디렉티브 v-model : 입력받는 요소로부터 입력되는 입력값이 뷰 데이터의 지정 속성에 연결(양방향 바인딩)-->
        <input v-on:keyup="onKeyup" v-model='query' type="text" placeholder="검색어를 입력하세요" autofocus>
        <!-- vuejs 디렉티브 v-show : v-show="bool" bool이 참이면 화면에 표시 -->
        <button v-on:click="onReset" v-show='query.length' type="reset" class="btn-reset"></button>
      </form>
      <div v-if="submitted">
        <!-- vuejs 디렉티브 v-if : if 조건문과 같은 로직-->
        <div v-if="searchResult.length">
          <ul>
            <!-- vuejs 디렉티브 v-for : for 반복문과 같은 로직-->
            <li v-for="item in searchResult">
              <!-- vuejs 디렉티브 v-bind : 전달인자를 전달, ps 약어 '':' -->
              <img :src="item.image"> {{item.name}}
            </li>
          </ul>
        </div>
        <div v-else>
          {{query}}로 검색결과를 찾을 수 없습니다
        </div>
      </div>
      <div v-else>
        <ul class="tabs">
          <li v-for="tab in tabs" v-on:click="onClickTab" v-bind:class="{active:tab===selectedTab}">{{tab}}</li>
        </ul>

        <div v-if="selectedTab === tabs[0]">
          <div v-if="keywords.length">
            <ul class="list">
              <li @click="onClickKeyword(item.keyword)" v-for="(item, i) in keywords">
                <span class="number">{{i+1}}</span>
                {{item.keyword}}
              </li>
            </ul>
          </div>
          <div v-else>
            추천 검색어가 없습니다
          </div>
        </div>
        <div v-else>
          <div v-if="history.length">
            <ul class="list">
              <li v-for="item in history" @click="onClickHistory(item.keyword)">{{item.keyword}}
                <span class="date">{{item.date}}</span>
                <button class="btn-remove" @click.stop.prevent="onClickHistoryRemove(item.keyword)"></button>
              </li>
            </ul>
          </div>
          <div v-else>
            최근 검색어가 없습니다
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--vuejs CDN 방식으로 사용, 프로덕션 환경이 될 경우 @version 을 추가하는 것으로 특정버전 vuejs 사용가능-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>